<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="tryTologInYandex" preserve-order="false" >
        <parameter name="login"  value="TestUserJavaSelenium"/>
        <parameter name="emptyLogin"  value=""/>
        <parameter name="invalidLogin"  value="12йцуке"/>
        <parameter name="emptyLoginEnterWarning"  value="Логин не указан"/>
        <parameter name="invalidLoginWarning"  value="Такой логин не подойдет"/>
        <parameter name="password"  value="Qwerty$4"/>
        <classes>
            <class name="tests.TestMainClass" >
<!--                <methods>-->
<!--                    <exclude name="invalidLogin" />-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>
